<!DOCTYPE html>
<html lang="en">
<%- include('includes/head')%>
<body> 
    <%- include('includes/header')%>
<main>
  <form action="/edit-post/<%= post.id %>" method="POST">
    <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
      <% errors.forEach(error => { %>
        <p class="notice" style="color: red;"><%= error %></p>
      <% }) %>  
    <% } %>
    
    <fieldset>
      <legend>Edit Existing Post</legend>
      
      <label for="title"><small>Title</small></label>
      <input 
        type="text" 
        name="title" 
        id="title" 
        autocomplete="off" 
        value="<%= post.title %>">
      
      <label for="body"><small>Content</small></label>
      <textarea 
        name="body" 
        id="body" 
        placeholder="Write something"><%= post.body %></textarea>
      
      <br />
      <button>Save Changes</button>
    </fieldset>
  </form> 
</main>
<%- include('includes/footer')%>
</body>
</html>
